.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex-grow: 1;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.footer {
  color: var(--brand-cream);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  margin-top: auto;
}

.footerText {
  opacity: 0.8;
}
